name: Lint

on:
  push:
    paths:
      - '**.md'
      - '.github/workflows/lint.yml'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Check readme follow conventions
      run: npx awesome-lint ./README.md

    
